{% if comments  %}
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="display:none;">Signalé</th>
                <th>Auteur</th>
                <th>Contenu</th>

            </tr>
            </thead>
            {% for comment in comments %}
                <tr{%  if  comment.signal %} class="alert alert-danger"{%  endif %}>
                    <td style="display:none;">{%  if  comment.signal %}{%  endif %}</td>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.content | truncate(60) | raw }}</td>
                    <td>
                        <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-info btn-xs " title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs " title="Supprimer" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation demandée</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez_vous supprimer ce commentaire ainsi que les commentaires associés ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="alert alert-warning">Aucun commentaire trouvé.</div>
{% endif %}