{% extends "layout.html.twig" %}
{% block title %}{{ article.title }}{% endblock %}
{% block header %}
<header class="intro-header" style="background-image: url('{{ asset('images/livre.jpg') }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
    <div class="container">
        <p>
            <h2>{{ article.title }}</h2>
            {{ parent() }}
            <p>{{ article.content | raw}}</p>
            <h3>Commentaires</h3>

            <a class="btn btn-primary" href="{{ path('comment_add', { 'id': article.id }) }}">Ajouter un commentaire</a>
            <br>
            {% for comment in comments %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="post-meta">

                            Le {{ comment.date|date("d/m/Y \\à\\ H:i:s") }}
                            <strong>{{ comment.author }}</strong> a commenté : {{ comment.content | raw }}
                            <a class="btn btn-warning pull-right" href="{{ path('comment_signal', { 'id': comment.id }) }}">Signaler le commentaire</a>
                            <a class="btn btn-primary pull-right" href="{{ path('comment_add', { 'id': article.id, 'parentId': comment.id }) }}">Répondre</a>
                        </p>

                    </div>
                </div>
                {% for children in childrenComments[comment.id] %}
                    <div class="panel panel-default col-lg-offset-1">
                        <div class="panel-body">
                            <p class="post-meta">
                                Le {{ children.date|date("d/m/Y \\à\\ H:i:s") }}
                                <strong>{{ children.author }}</strong> a commenté : {{ children.content | raw }}<br>
                                <a class="btn btn-warning pull-right" href="{{ path('comment_signal', { 'id': children.id }) }}">Signaler le commentaire</a>
                                <a class="btn btn-primary pull-right" href="{{ path('comment_add', { 'id': article.id, 'parentId': children.id }) }}">Répondre</a>
                            </p>

                        </div>
                    </div>
                    {% for children2 in childrenCommentsLevel2[children.id] %}
                        <div class="panel panel-default col-lg-offset-2">
                            <div class="panel-body">
                                <p class="post-meta">
                                    Le {{ children2.date|date("d/m/Y \\à\\ H:i:s") }}
                                    <strong>{{ children2.author }}</strong> a commenté : {{ children2.content | raw }}<br>
                                    <a class="btn btn-warning pull-right" href="{{ path('comment_signal', { 'id': children2.id }) }}">Signaler le commentaire</a>
                                </p>

                            </div>
                        </div>
                    {%  endfor %}
                {%  endfor %}
                {% else %}
                Pas encore de commentaire
            {% endfor %}
        </p>
    </div>
{% endblock %}