{% extends 'layout.html.twig' %}
{% block title %}Modification d'un commentaire{% endblock %}
{% block header %}
    <header class="intro-header" style="background-image:url('{{ asset('images/ecrire.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {{ parent() }}
    <div class="well">
        {{ form_start(commentForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            <div class="col-sm-4">
                {{ form_errors(commentForm.author) }}
                {{ form_widget(commentForm.author, { 'attr':  {
                    'class': 'form-control',
                    'placeholder': 'Votre pseudo'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'class': 'form-control',
                    'rows': '4',
                    'placeholder': 'Votre commentaire'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" class="btn btn-success" value="Enregistrer" formnovalidate="true" />
            </div>
        </div>
        {{ form_end(commentForm) }}
    </div>
{% endblock %}