<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset ('/css/clean-blog.css') }}" rel="stylesheet">
    <link href="{{ asset ('/css/simplePagination.css') }}" rel="stylesheet">
    <link href="{{  asset ('/lib/font-awesome/css/font-awesome.min.css ') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <title>Blog{% block title %}{% endblock %}</title>
</head>
<body>

{% block navbar %}
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <li class="{% if adminMenu is defined %}active{% endif %}"><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Bienvenue, {{ app.user.username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> connexion <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('login') }}">Se connecter</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <a class="navbar-brand" href="{{ path('about')}}">A propos</a>

                </ul>
            </div>
        </div><!-- /.container -->
    </nav>
{% endblock %}

{% block header %}
<header class="intro-header" style="background-image: url('{{ asset('images/alaska1.jpg') }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Aller-simple pour l'Alaska</h1>
                    <hr class="small">
                    <span class="subheading">Roman</span>
                    <hr class="small">
                    <span class="subheading">Jean Forteroche</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

    <div id="content">
        {% block content %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {% endblock %}
    </div>
<ul class="nav pull-right scroll-top">
    <li>
        <a href="#" title="Scroll to top">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </a>
    </li>
</ul>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Jean Forteroche - Aller-simple pour l'Alaska</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset('/lib/jquery/jquery.min.js') }}"></script>
    <!-- JavaScript Boostrap plugin -->
    <script src="{{ asset('/lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/js/clean-blog.js') }}"></script>
    <!-- Tinymce -->
    <script src="{{ asset('/js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('/js/tinymce/tinymce.min.js') }}"></script>
    <script>tinymce.init({ selector:'textarea', language:'fr_FR'});</script>

    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.js"></script>
    <script src="{{ asset('/js/jquery.simplePagination.js') }}"></script>


{% endblock %}

</body>
</html>
