{% extends 'layout.html.twig' %}

{% block title %}Page d'authentification{% endblock %}
{% block header %}
    <header class="intro-header" style="background-image:url('{{ asset('images/login.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">

                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger">
            <strong>Erreur d'authentification !</strong> {{ error }}
        </div>
    {% endif %}
    <div class="well">
        <form class="form-signin form-horizontal" role="form" action="{{ path('login_check') }}" method="post">
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="Pseudo" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <input type="password" name="_password" class="form-control" placeholder="mot de passe" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-default btn-primary center-block"><span class="glyphicon glyphicon-log-in"></span> Connexion </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}